<!DOCTYPE html>
<html>
<body>

<p id="demo"></p>

<button onclick="openMap();">Open Map</button>

<script>

var x = document.getElementById("demo");

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
  sendData(position);
}

function error() {
    x.innerHTML = "error";
}

function sendData(position) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', `/gps/${position.coords.latitude},${position.coords.longitude}`, true);

    xhr.onload = function () {
    };

    xhr.send(null);
}

function openMap() {
  if ((window.navigator.onLine ? 'on' : 'off') === "on") {
    window.location = `/map`
  } else {
    x.innerHTML = "Can't open map, no internet connection"
  }
}

navigator.geolocation.watchPosition(showPosition, error, {enableHighAccuracy:true});
</script>

</body>
</html>
