<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>

    <script src="https://bewithjonam.github.io/mapboxgl-spiderifier/index.js"></script>

    <script src="https://unpkg.com/supercluster@7.1.2/dist/supercluster.min.js"></script>
    <script src="https://bewithjonam.github.io/mapboxgl-spiderifier/index.js"></script>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

		#map {
			height: 1000px;
		}
    </style>

    <title>Wardrive Map</title>
</head>
<body style="background-color: rgb(39, 39, 39);">
    <center>
        <div id="map"></div>
    </center>

    <script>

        let wardriveData;
        let gmap;

        function init(data) {
            wardriveData = data;
            gmap = mapSetup();
            console.log(wardriveData);
        }

        function addAPS(map) {
            for(key in wardriveData) {
                let [lat, long] = key.split(", ")

                lat = parseFloat(lat);
                long = parseFloat(long);

                let it = 0.0000001;

                for(item in wardriveData[key]) {
                    ssid = wardriveData[key][item][0];
                    bssid = wardriveData[key][item][1];
                    channel = wardriveData[key][item][2];
                    signal = wardriveData[key][item][3];
                    security = wardriveData[key][item][4];

                    clat = (lat) + (lat * it) / lat;
                    clong = (long) + (long * it) / long;

                    const mark = new mapboxgl.Marker().setLngLat([clong,clat]).addTo(map);

                    it += 0.000001;
                }
            }
        }

        function mapSetup() {
            mapboxgl.accessToken = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/dark-v10',
                center: [31.945474450496558, 34.84112648986603],
                zoom: 8
            });
            
            map.on("load", function() {
                addAPS(map);
            });

            return map;
        }
    </script>

    <script type="text/javascript">
        init({{data|tojson}});
    </script>
</body>
</html>